<div class="animated fadeIn">
    <div class="cob-header">
        <div class="page-title">
            <span>Categories</span>
        </div>
        <div class="btn-container">
            <button
                class="btn btn-primary"
                (click)="handleAdd()"
                translate>Add</button>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="col-md-4">
                <app-product-modal id="add-product-category" (added)="handleAdded($event)">
                    <div class="col-md-4">
                        <button (click)="modalService.close();" class="btn btn-primary">Close</button>
                    </div>
                </app-product-modal>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <app-cbo-filter-selector
                      [model]="filterModel"
                    ></app-cbo-filter-selector>
                    <app-list-container
                    [listItems]="listItems"
                    [showStopBtn] = "false"
                    [isLoading]="isLoading"
                    [getStatusClassFn]="getStatusIndicator"
                    (onAddClick)="handleOnAddClick($event)"
                    (onRemoveClick)="handleOnRemoveClick($event)"
                  ></app-list-container>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="data-table datatable-scroll">
            <table id="data-table">
                <thead class="sticky-table-header">
                    <th>
                        Category Id
                    </th>
                    <th>
                        Category Name
                    </th>
                    <th>
                        Has Products
                    </th>
                    <th>
                        Options
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let row of categoriesWithProducts;">
                        <td>{{row.categoryId}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.hasProducts}}</td>
                        <td>
                            <div class="col-md-12 buttons-container" *ngIf="row.isShipped === false">
                                <button
                                class="btn btn-primary blue"
                                (click)="handleEdit(row)"
                                translate
                              >
                                Edit
                              </button>
                          </div>
                        </td>
            </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>