<div class="animated fadeIn">
    <div class="modal-header">
        <h3 class="title">Add Product to Recipe {{name}}</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  
            <span aria-hidden="true">×</span>  
        </button>      
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <app-cbo-filter-selector
                [model]="filterModel"
            ></app-cbo-filter-selector>
        </div>
    </div>
    <div class="modal-content" *ngIf="products && products.length > 0">
        <div class="data-table datatable-scroll">
            <table>
                <thead>
                    <th>Product</th>
                    <th>Measurement</th>
                    <th>Options</th>
                </thead>
                <tbody>
                    <tr *ngFor="let row of products">
                        <td>{{row.displayName}}</td>
                        <td>
                            <input
                                id="measurement"
                                name="measurement"
                                #measurement
                                type="text"
                                
                            />
                        </td>
                        <td>
                            <div class="col-md-12 buttons-container">
                                <button
                                    class="btn btn-primary blue"
                                    (click)="submit(row.productId, measurement.value)"
                                >
                                    Add
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="modalRef.hide()" translate>Close</button>
    </div>
</div>
